<div class="row-fluid">
    <div class="col-md-12">
        <div class="page-header"><h1>Hakman - Govhack 2014</h1></div>
        <div>
            <p>This is the 2014 submission to Govhack by Team Hakman!</p>
            <p>Our goal this year was to perform some analysis over the data from the
                <a href="http://data.gov.au/organization/australianpublicservicecommission">Australian Public Service Commission</a>
            and the <a href="http://data.gov.au/dataset/historical-australian-government-contract-data">Austender Historical data sets</a>.
            The hypothesis we were looking to test was:
            <ul>
                <li>Has there been a reduction of APS Staff over the past year?</li>
                <li>And has this resulted in an increase in contract spend over that same period?</li>
            </ul></p>
            <p>Unfortunately, as we explored this data, we couldn't really find any conclusive evidence to confirm or disprove
            these hypothesis. As we ran out of time, we've created a few data visualisations for you to enjoy. Links are on the left.</p>
        </div>
    </div>
</div>