<div class="row-fluid">
    <div class="col-md-12">
        <div class="page-header"><h1>Welcome to Hakman!</h1></div>
    </div>
</div>
<div class="row-fluid">
	<div class="col-md-8">
		<ul>
		{{#each numbers}}
			<li>{{.}}</li>
		{{/each}}</ul>
		<p>{{{foo}}}</p>
	</div>
	<div class="col-md-4">
		{{> weather}}
	</div>
</div>